In [7]:
#para descargar la data de DigitalOceans. correr desde la terminal
#python scripts/download_data.py

# para ver la ruta del Codespace
#import os
#print(os.getcwd())

#Librerias
import pandas as pd

El objetivo de este proyecto es predecir el rendimiento del cultivo de plátano en base al cambio climático por región. Para lograr esto, utilizaremos datos históricos de producción agrícola y datos climáticos para analizar y modelar la relación entre las variables climáticas y el rendimiento de los cultivos.

# Carga de datos y exploración

In [9]:
ruta = '/workspaces/DSBD-TFM/data/'
df_agricola = pd.read_excel(ruta + 'data_agricola.xlsx')
df_clima = pd.read_excel(ruta + 'datos_climaticos.xlsx')

In [10]:
print(df_agricola.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YEAR                1056 non-null   int64
 1   REGION              1056 non-null   object
 2   MONTH               1056 non-null   int64
 3   SIEMBRA_MENSUAL     1056 non-null   float64
 4   COSECHA_MENSUAL     1056 non-null   float64
 5   PRODUCCION_MENSUAL  1056 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 49.6+ KB
None

In [12]:
print(df_agricola.head())

   YEAR REGION  MONTH  SIEMBRA_MENSUAL  COSECHA_MENSUAL  PRODUCCION_MENSUAL
0  2011  NORTE      1      2501.128707     12431.334220        26614.790039
1  2011  NORTE      2      1961.987511     12744.350972        34669.848129
2  2011  NORTE      3      1509.371697     12400.418075        34128.766399
3  2011  NORTE      4      1623.434237     12514.195394        31215.193597
4  2011  NORTE      5      2551.450416     12882.163934        34097.819812

In [13]:
print(df_agricola.describe())

              YEAR        MONTH  SIEMBRA_MENSUAL  COSECHA_MENSUAL  \
count  1056.000000  1056.000000      1056.000000      1056.000000
mean   2016.181818     6.500000      2843.918561      7847.962342
std       3.434573     3.453688      1892.492377      8719.627451
min    2011.000000     1.000000       411.755026       232.386801
25%    2013.000000     3.750000      1417.969033      1873.698662
50%    2016.000000     6.500000      2399.383342      3836.159844
75%    2019.000000     9.250000      3855.801654     12732.059626
max    2022.000000    12.000000     14176.608193     44809.120274

       PRODUCCION_MENSUAL
count         1056.000000
mean         24597.845531
std          20433.415120
min           2627.769546
25%           9227.396700
50%          18051.656044
75%          33935.541940
max         124701.432158

In [17]:
print(df_clima.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4608 entries, 0 to 4607
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           4608 non-null   int64
 1   month          4608 non-null   int64
 2   region         4608 non-null   object
 3   provincia      4608 non-null   object
 4   precipitation  4608 non-null   float64
 5   max_temp       4608 non-null   float64
 6   min_temp       4608 non-null   float64
 7   humidity       4608 non-null   float64
dtypes: float64(4), int64(2), object(2)
memory usage: 288.1+ KB
None

# Pre Procesamiento de los datos

In [ ]:
datos_clima = datos_clima.drop(columns=['YEAR.1', 'MONTH.1', 'Región.1'])
datos_clima = datos_clima.rename(columns={
    'Región': 'REGION', 
    'Humedad relativa': 'HUMEDAD_RELATIVA', 
    'Nubosidad': 'NUBOSIDAD', 
    'Precipitación': 'PRECIPITACION', 
    'Temperatura máxima': 'TEMP_MAX', 
    'Temperatura mínima': 'TEMP_MIN', 
    'Velocidad del viento': 'VEL_VIENTO'
})

In [ ]:
datos_clima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2241 entries, 0 to 2240
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              2241 non-null   int64
 1   MONTH             2241 non-null   int64
 2   REGION            2241 non-null   object
 3   HUMEDAD_RELATIVA  1753 non-null   float64
 4   NUBOSIDAD         495 non-null    float64
 5   PRECIPITACION     2079 non-null   float64
 6   TEMP_MAX          2115 non-null   float64
 7   TEMP_MIN          2142 non-null   float64
 8   VEL_VIENTO        1758 non-null   float64
dtypes: float64(6), int64(2), object(1)
memory usage: 157.7+ KB